<!--This node brings the laser rangefinder online for a p2dx, along with the 
		required transform for a Hokuyo laser rangefinder. Make sure not to use
		this on a p2dx that still has the SICK LMS installed your launch will
		be fail! -->


<launch>

	<include file="$(find siue_pioneer2_configs)/p2os_base.launch" />

	<node 	pkg="tf"
			type="static_transform_publisher"
			name="base_link_to_base_laser"
			args="0 0 0.1397 0 0 0 base_link laser 60" />

	<node 	pkg="hokuyo_node"
			type="hokuyo_node"
			name="hokuyo_node"/>
			
</launch>
